* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 255, 234, 0.493);
}
header div {
  width: auto;
  height: auto;
  background-color: bisque;
}

header .container {
  text-align: center;
  font-family: "Curlz MT", cursive;
  width: 100%;
  height: 400px;
  font-size: 50px;
  color: crimson;
}
nav div {
  display: flex;
  width: auto;
  height: 100px;
  background-color: aquamarine;
}
nav div li {
  display: inline;
}
#img-home {
  height: 300px;
}
