* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 255, 234, 0.493);
}
header li,
a {
  display: inline;
  padding: 8px;
  font-size: 25px;
  font-family: Curlz MT;
  text-decoration: none;
}
header .container,
section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 115, 212);
}

header h1,
h2,
h3 {
  font-family: Curlz MT;
  font-size: 50pt;
  margin-left: 5px;
  color: rgb(224, 144, 211);
}
header h2 {
  font-size: 30px;
}

section h3 {
  color: brown;
}
