* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header h1,
h2 {
  margin-left: 30px;
}
header {
  font-size: 30px;
  font-family: "Curlz MT";
  color: rgb(223, 31, 31);
  height: 80px;
  background-color: rgb(106, 236, 236);
}
header li,
a {
  margin-right: 8px;
  display: inline;
  text-decoration: none;
  font-size: 25px;
}
